*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  background-color: $tamarind;
  color: rgba(#fff, 0.85);
  font-family: "Prata", serif;
  letter-spacing: 2px;
}
img {
  max-width: 100%;
}
a {
  color: $shakespeare;
}
.stop-scroll {
  height: 100%;
  overflow: hidden;
}
