.tiles {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  min-width: 80vh;
  overflow: hidden;
}
.tile {
  &__inner {
    height: 100%;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  &:hover &__inner {
    transform: rotateY(180deg);
  }
  &__front,
  &__back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  &__back {
    transform: rotateY(180deg);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
