.tile {
  position: relative;
  height: 100vw;
  @mixin atMedium {
    height: calc(50vw - 2rem);
  }
  display: flex;
  justify-content: center;
  align-items: center;
  &--column {
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &__title {
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  &__text {
    text-align: center;
  }
  &--white {
    background-color: rgba($white, 0.9);
    color: $tamarind;
    font-weight: 700;
  }
}
