.top-nav {
  z-index: 50;
  color: $tamarind;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background-color: $white;
  text-transform: uppercase;
  transition: all ease-in 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  @mixin atMedium {
    color: $white;
    background-color: transparent;
    position: relative;
    display: block;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  &--is-closed {
    visibility: hidden;
    opacity: 0;
    @mixin atMedium {
      visibility: visible;
      opacity: 1;
    }
  }
  &__inner {
    padding: 0;
    margin: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @mixin atMedium {
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  &__item {
    list-style-type: none;
    font-weight: 400;
    @mixin atMedium {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
    &--is-active {
      color: $hopbush;
    }
  }
}
